body {
    padding-top: 100px;
}

.interviewer-img img {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    min-width: 80%;
    border-radius: 3px;
}

.listing-panel {
    margin-left: 3% !important;
}

.interview-details {
    margin-top: 10px !important;
}

.four-percent-padding {
    padding-left: 4% !important;
    padding-right: 4% !important;
}

/* Tabs panel */
.tabbable-panel {
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
    margin-bottom: 1px;
}

.tabbable-line > .nav-tabs > li > a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
    margin-right: 0;
    color: #737373;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}

/*.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {*/
/*border-bottom: 2px solid transparent;*/
/*}*/
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}

/*.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {*/
/*color: #a6a6a6;*/
/*}*/
/*.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {*/
/*margin-top: 0;*/
/*}*/
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 2px solid rgba(2, 124, 213, 0.43);
    position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: rgba(2, 124, 213, 0.43) !important;
}

.tabbable-line > .nav-tabs > li.active > a > i {
    color: rgba(2, 124, 213, 0.43) !important;
}

.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 2px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 2px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: 1px;
    border-bottom: 0;
    border-top: 2px solid rgba(2, 124, 213, 0.43) !important;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: none !important;
}

.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.section-title {
    font-family: Trebuchet MS, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 5px 0;
}

.section-panel {
    margin: 10px 0;
}

.section-body {
    border-top: 1px solid #ccc;
    padding-top: 8px;
}

.socio-links {
    padding-left: 10px;
}

.fa-socio-links-padding {
    padding: 0 5px;
    margin-top: 3px;
    font-size: 1.6em;
}

.timeline-details {
    padding-left: 20px;
    margin-bottom: 10px;
}

#slideshow {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

#slideshow > div > div {
    float: left;
    cursor: pointer;
}

#slideshow > div {
    width: 500%;
}

#buttons {
    margin-bottom: 20px;
}

.cal-item {
    border-radius: 0 !important;
    border-bottom: none;
}

.timeslot {
    border: none;
    border-radius: 5px;
    height: 19px;
    width: 19px;
}

.interviewer-img {
    padding: 0 !important;
}

.skill-tag {
    color: #ffffff !important;
    padding: 5px 10px;
    background-color: #00BCD4;
    border-radius: 2px;
}

.black-link {
    color: #000000 !important;
}

.rating-user-name {
    font-weight: 400;
    font-size: 17px;
}

.rating-row {
    margin-left: 20px;
    margin-right: 20px;
}

.center-align {
    text-align: center;
}

.panel-no-padding {
    padding: 0 0 !important;
}

.time-padding {
    margin: 5px;
    padding: 0 0;

}

.bg-red {
    background-color: lightcoral;
}

.bg-green {
    background-color: lightgreen;
}

.bg-yellow {
    background-color: yellow !important;
}

.als-next, .als-prev {
    background-color: #fdd922 !important;
    border: 1px solid #e0bc27 !important;
    border-radius: 0 2px 2px 0 !important;
    text-transform: uppercase !important;
    color: #565656 !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('../images/ajax-loader.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/*.apptpad {*/
    /*padding: 100px !important;*/
    /*margin-bottom: 10px !important;*/
/*}*/

#review {
    margin-top: 2px !important;
}

.star-rating {
    margin-top: -10px !important;
    /*margin-left: 15px !important;*/

}

#revbtns {
    margin-top: 5px !important;
    margin-right: 15px !important;
}

#avatarimg {
    max-height: 200px !important;
    max-width: 200px !important;
}

.bottomSep {

    border-bottom-color: #f5f5f5 !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-radius: 0 !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

#tag-cloud {
    width: 285px;
    margin-left: 0;
}

.tag-cloud {
    background-color: #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 21px;
    margin: 2px 3px 2px 2px;
    padding: 1px 4px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
}

.tag-cloud:after {
    color: #000000;
    content: " ×";
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    opacity: 0.2;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    top: 1px;
}

/* Colors */

.tag-cloud.tag-cloud-info {
    background-color: #3A87AD;
}

.tag-cloud.tag-cloud-success {
    background-color: #468847;
}

.tag-cloud.tag-cloud-warning {
    background-color: #F89406;
}

.tag-cloud.tag-cloud-danger {
    background-color: #B94A48;
}

.tag-cloud.tag-cloud-inverse {
    background-color: #333333;
}

#listingContainer > .disabled {
    opacity: 0.5 !important;
}

.skill-tag > a {
    color: #f0f0f0;
}

.add-review-btn {
    background-color: #fdd922 !important;
    border: 1px solid #e0bc27 !important;
    border-radius: 0 2px 2px 0 !important;
    text-transform: uppercase !important;
    color: #565656 !important;
    line-height: 20px !important;
    height: 34px !important;
    cursor: pointer;
    margin-top: 0 !important;
}

.cal-item.panel-default > .panel-heading {
    overflow: hidden;
    display: inline-block;
    width: 30px;
    border-right: 1px solid lightgray;
    line-height: 1.5;
    height: 120px;
    border-radius: 0;
}

.left-absolute-column-cell {
    height: 19px;
    font-size: 13px;
    margin: 5px;
    border-bottom: 1px lightgray solid;
}

.panel-left-absolute > .panel-body{
    padding-top: 5px;
}

.panel-left-absolute{
    border-bottom: none;
    position: absolute;
    background-color: white;
    z-index: 100;

}
.panel.panel-default.panel-left-absolute > .panel-heading{
    height: 120px;
}

.availability-widget{
    display: inline-block;
}

#save-availabilities{
    margin-top: 7px;
}

.legend{
    padding:10px;
    font-size: 13px;
    display: table;
}

.legend > div{
    padding:5px 0;
}
.legend .key{
    content: " ";
    display: table-cell;
    border-radius: 5px;
    height: 19px;
    width: 19px;
    margin: 3px;
}

.key-info{
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
}