html,body
{
    min-width:820px;
}


body
{
    padding-top: 100px;
}

.apptpad
{
    padding:100px!important;
    margin-bottom: 10px!important;
}

nav{
    position: fixed;
    width: 100%;
    padding: 0px!important;
    background-color: #00BCD4!important;
}

.nav-row-brand
{
    width: 100%!important;
    height: 78px!important;
    background: #26C6DA!important;
    padding: 14px 0px !important;
}

/*#027CD5 #006cb4*/
.nav-row-brand-content
{
    margin-right: 2% !important;
    margin-left: 5% !important;
}


.nav .open a
{
    text-decoration: underline!important;
    background-color: transparent!important;
}

.sticky {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    height: 50px!important;
    background: #027CD5;
    transition: all 0.4s ease;
}


.container-nav
{
    width: 100%;
    transition: all 0.4s ease;
}


.navbar-brand
{
    color: #ffffff!important;
}


.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default
{
    color: #fff !important;

}

.icon-bar
{
    background-color: #ffffff!important;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a
{
    color: #ffffff !important;
}


.search-bar
{
    width: 50%!important;
}

.search-input
{
    width: 100% !important;
}


.search-text-box
{
    border-radius: 2px 0px 0px 2px!important;
    line-height: 17px!important;
    height: 34px!important;
}

.search-btn
{
    background-color: #fdd922!important;
    border: 1px solid #e0bc27!important;
    border-radius: 0 2px 2px 0!important;
    text-transform: uppercase!important;
    color: #565656!important;
    position: absolute;
    line-height: 17px!important;
    height: 34px!important;
    cursor: pointer;
}

/*#fdd922*/

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default .navbar-brand {
        font-size: 1.5em;
    }
}



footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

#review{
    margin-top: 2px!important;
}


.star-rating{
    margin-top: -10px!important;
    margin-left: 15px!important;

}

#revbtns{
    margin-top: 5px!important;
    margin-right: 15px!important;
}

#avatarimg{
    max-height: 200px!important;
    max-width: 200px!important;
}



.shortlist-btn
{
    background-color: #fdd922!important;
    border: 1px solid #e0bc27!important;
    border-radius: 0 2px 2px 0!important;
    text-transform: uppercase!important;
    color: #565656!important;
    line-height: 20px!important;
    height: 34px!important;
    cursor: pointer;
    margin-top: 0px!important;
}


.interviewer-img img
{
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    min-width: 80%;
    border-radius: 3px;
}

.listing-panel
{
    margin-left: 3%!important;
}


.interviewer-name
{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-left: 0px !important;
    display: inline-block;
}

.interview-details
{
    margin-top: 10px!important;
}

.interviewer-current-work
{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 50;
    font-size: 12px;
    margin-left: 0px!important;
}
.interviewer-summary
{
    margin-top: 5px;
}

.interview-price
{
    display: inline-block;
    padding-right: 10px;
    padding-top: 0px!important;
    font-weight: 300;
    font-size: 25px;
}

.interview-row
{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-color: #d5d5d5!important;
    border-bottom-width: 1px!important;
    border-bottom-style: solid!important;
    border-radius: 0px!important;
}


.four-percent-padding
{
    padding-left: 4%!important;
    padding-right: 4%!important;
}

.bottomSep{

    border-bottom-color: #f5f5f5!important;
    border-bottom-width: 1px!important;
    border-bottom-style: solid!important;
    border-radius: 0px!important;
    padding-top: 20px;
    padding-bottom: 20px;
}


/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
    margin-bottom: 1px;
}
.tabbable-line > .nav-tabs > li > a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
/*.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {*/
    /*border-bottom: 2px solid transparent;*/
/*}*/
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
/*.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {*/
    /*color: #a6a6a6;*/
/*}*/
/*.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {*/
    /*margin-top: 0px;*/
/*}*/
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 2px solid rgba(2, 124, 213, 0.43);
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: rgba(2, 124, 213, 0.43)!important;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: rgba(2, 124, 213, 0.43)!important;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 2px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 2px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: 1px;
    border-bottom: 0;
    border-top: 2px solid rgba(2, 124, 213, 0.43)!important;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: none!important;
}

.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.section-title
{
    font-family: Trebuchet MS,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    padding: 5px 0px;
}


.section-panel
{
    margin: 10px 0px;
}


.section-body
{
    border-top: 1px solid #ccc;
    padding-top: 8px;
}

.socio-links
{
    padding-left: 10px;
}

.fa-socio-links-padding
{
    padding: 0px 5px;
}

.timeline-details
{
    padding-left: 20px;
    margin-bottom: 10px;
}


#slideshow{
    overflow:hidden;
}

#slideshow>div{
    width:500%;
}

#slideshow>div>div{
    float:left;
    cursor:pointer;
    width: 3.33%;

}

#screen2{
    position:relative;
}

#buttons
{
    margin-bottom: 20px;
}

.cal-item
{
    border-radius: 0px !important;
}

.list-group-item
{
    border: none!important;
    border-radius: 0!important;
    padding: 2px 0px!important;
    text-align: center;

}


.interviewer-img
{
    padding: 0px !important;
}

.skill-tag
{
    color: #ffffff!important;
    padding: 5px 10px;
    background-color: #00BCD4;
    border-radius: 2px;
}

.black-link
{
    color: #000000!important;
}

#tag-cloud {
    width: 285px;
    margin-left: 0;
}
.tag-cloud {
    background-color: #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 21px;
    margin: 2px 3px 2px 2px;
    padding: 1px 4px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
}
.tag-cloud:after {
    color: #000000;
    content: " ×";
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    opacity: 0.2;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    top: 1px;
}

/* Colors */

.tag-cloud.tag-cloud-info {
    background-color: #3A87AD;
}
.tag-cloud.tag-cloud-success {
    background-color: #468847;
}
.tag-cloud.tag-cloud-warning {
    background-color: #F89406;
}
.tag-cloud.tag-cloud-danger {
    background-color: #B94A48;
}
.tag-cloud.tag-cloud-inverse {
    background-color: #333333;
}

#listingContainer>.disabled{
    opacity: 0.5 !important;
}
.skill-tag>a {
    color: #f0f0f0;
}
